<div class="spot-show">
  <div class="spot-left">
    <%# <%= image_tag @spot.image.url, class: "spot-image" %> 
    <%= image_tag 'jiburi.png', class: "spot-image" %>
  </div>
  <div class="spot-right">
    <div class="spot-name">
      <%= @spot.name %>
    </div>
  </div>
</div>