.post-index {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F5F5F5;;
  padding: 20px;
  color: #333333;
}

.post-show {
  background-color: #ffffff;
  padding: 10px;
  border: solid 1px #DDDDDD ;

}

.post-show-image {
  width: 450px;
  height: 400px;
  object-fit: cover;
}

.post-nav {
  display: flex;
}

.post-nav li {
  margin-left: 5px;
}

.post-right {
  width: 500px;
}

.post-title {
  font-size: 35px;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #8EB8FF;
}

.post-text {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  margin-bottom: 30px;
}

.comments h4{
  margin-top: 40px;
  font-size: 25px;
  padding: 0 15px;
  color:#696969;
  cursor:pointer;

}

.comments span {
  font-size: 20px;
  margin-left: 15px;
  cursor:pointer;
}

.comment-box {
  margin-bottom: 15px;
  padding: 10px;
  display: none;
}

.comment-name {
  font-size: 15px;
  color: #BDB76B;;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.comment-text {
  font-size: 15px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  display: inline-block;
  background-color:#FFFFEE;
  padding: 8px;
}

.comment-form-box {
  width: 80%;
  margin-top: 80px;
}


.comment-form {  
  border-style: none;
  box-sizing: border-box;
  width: 500px;
  height: 60px;
  border: none;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  margin-bottom: 10px;
  display: block;
}

.comment-submit {
  margin-top: 10px;
  border: none;
  padding: 10px;
  background-color: #C2EEFF;
  display: block;
}